
@{
    ViewBag.Title = "FindIT";
}
<!DOCTYPE html>
<html>
<body>
    <form method="Post" action="DisplayIt">
        FIND ME IT's Near
        <input type="text" name="location" />
        <input type="submit" value="Find" />
    </form>
</body>
</html>
